<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%#= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-onepassword-index") %>>
            <a href="/docs/providers/onepassword/index.html">1Password Provider</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-onepassword-resource") %>>
                <a href="/docs/providers/onepassword/vault.html">onepassword_vault</a>
                <a href="/docs/providers/onepassword/common.html">onepassword_item_common</a>
                <a href="/docs/providers/onepassword/document.html">onepassword_item_document</a>
                <a href="/docs/providers/onepassword/identity.html">onepassword_item_identity</a>
                <a href="/docs/providers/onepassword/login.html">onepassword_item_login</a>
                <a href="/docs/providers/onepassword/password.html">onepassword_item_password</a>
                <a href="/docs/providers/onepassword/secure-note.html">onepassword_item_secure_note</a>
                <a href="/docs/providers/onepassword/software-license.html">onepassword_item_software_license</a>
                <a href="/docs/providers/onepassword/credit-card.html">onepassword_item_credit_card</a>
              </li>
              <li<%= sidebar_current("docs-onepassword-data") %>>
                <a href="/docs/providers/onepassword/data-vault.html">onepassword_vault</a>
                <a href="/docs/providers/onepassword/data-common.html">onepassword_item_common</a>
                <a href="/docs/providers/onepassword/data-document.html">onepassword_item_document</a>
                <a href="/docs/providers/onepassword/data-identity.html">onepassword_item_identity</a>
                <a href="/docs/providers/onepassword/data-login.html">onepassword_item_login</a>
                <a href="/docs/providers/onepassword/data-password.html">onepassword_item_password</a>
                <a href="/docs/providers/onepassword/data-secure-note.html">onepassword_item_secure_note</a>
                <a href="/docs/providers/onepassword/data-software-license.html">onepassword_item_software_license</a>
                <a href="/docs/providers/onepassword/data-credit-card.html">onepassword_item_credit_card</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
  <% end %>
